<html>
	<head>
		<title></title>
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
		<style type='text/css'>
		</style>
	</head>
	<body style='background-color: #fDfDfD;'>
		<div 
		style='font-family: 'Ubuntu', sans-serif;
				background-color: white;
				width: 80%;
				margin: auto;
				padding: 20px;
				border: 1px solid #E5E5E5;'> 

			<div>&lt;%body%&gt;</div>
			<h4 style='font-size:24px'>Hi {{name}},</h4>
			<p style='font-size:18px'>Congrats! You {{app}} account has been created successfully.</p>
			<p style='font-size:18px'>Click on the button below to activate your account.</p>
			<div 
			style='padding-top: 15px;
			padding-bottom: 15px;
			width: 100%;
			margin: auto;
			text-align:center'>
				<a href='{{link}}' style='margin: auto;
				background: #3BCA96;
				background-image: -webkit-linear-gradient(top, #3BCA96, #3BCA90);
				background-image: -moz-linear-gradient(top, #3BCA96, #3BCA90);
				background-image: -ms-linear-gradient(top, #3BCA96, #3BCA90);
				background-image: -o-linear-gradient(top, #3BCA96, #3BCA90);
				background-image: linear-gradient(to bottom, #3BCA96, #3BCA90);
				-webkit-border-radius: 3;
				-moz-border-radius: 3;
				border-radius: 3px;
				text-shadow: 1px 1px 3px #666666;
				font-family: Arial;
				color: #ffffff;
				font-size: 23px;
				padding: 10px 20px 10px 20px;
				text-decoration: none;'>
				Activate Your Account
				</a>
			</div>
			<p style='font-size:18px'>Best regards,</p>
			<p style='font-size:18px'>The {{app}} team</p>
		</div>
	</body>
</html>